
    <%
    var today = this.today;
    var selected = this.selected;
    var maxDate = this.maxDate;
    var minDate = this.minDate;
    %>
    <div class="sk-calendar" style="background:#fff;width:400px;">
        <div class="sk-calendar-ymbar">
            <p class="sk-calendar-left" data-event="goPrevMonth"></p>
            <div class="sk-calendar-ym">
                <select class="sk-calendar-ylist" data-event="change>setYear">
                    <% for (var i=today.year-100; i<=today.year+50; i++){ %>
                    <option value="{i}" {if i==this.year} selected="selected" {/if}>{i}{this.currentLang.year}</option>
                    <% } %>
                </select>
                <select class="sk-calendar-mlist" data-event="change>setMonth">
                    <% for(var i=1; i<=12; i++){ %>
                    <option value="{i}" {if i==this.month} selected="selected" {/if}>{i}{this.currentLang.month}</option>
                    <% } %>
                </select>
            </div>
            <p class="sk-calendar-right" data-event="goNextMonth"></p>
        </div>
        <ul class="sk-calendar-xq"><li>{this.currentLang.sunday}</li><li>{this.currentLang.monday}</li><li>{this.currentLang.tuesday}</li><li>{this.currentLang.wednesday}</li><li>{this.currentLang.thursday}</li><li>{this.currentLang.friday}</li><li>{this.currentLang.saturday}</li></ul>
        <%
        var dayHTML = [];
        for(var i=1; i<=this.day; i++){
        dayHTML.push('<li>&nbsp;</li>');
        }
        for(var i=1; i<=this.days; i++){
        var dateTimes = new Date(this.year+"/"+this.month+"/"+i).getTime();
        if(maxDate!=0&&maxDate<dateTimes){

        dayHTML.push('<li class="cantSet" ');
        }else if(minDate!=0&&minDate>dateTimes){
        dayHTML.push('<li class="cantSet" ');
        }else{
        dayHTML.push('<li data-event="setDate" ');
        }

        if(selected.year==this.year&&selected.month==this.month&&selected.date==i){
        dayHTML.push(' class="selectedday"');
        }else if(today.year==this.year&&today.month==this.month&&today.date==i){
        dayHTML.push(' class="today"');
        }
        dayHTML.push('>'+i+'</li>');
        }
        dayHTML = dayHTML.join("");
        %>
        <ul class="sk-calendar-dlist">{dayHTML}</ul>
    </div>